@{
    ViewData["Title"] = "Notas Gerais";
}
<h1>@ViewData["Title"]</h1>

<p>Site desenvolvido por Francisco Bispo, para exemplificar um CRUD básico.</p>
<p>Poderíamos ter utilizado uma abordagem mais atual, para o desenvolvimento do sistema, por exemplo, a abordagem DDD (Domain Driven Design),
onde o foco do sistema estaria na camada de Domínio. Mas como tivemos pouco tempo para o desenvolvimento, acabamos priorizando a entrega, sem 
deixar de priorizar as regras solicitadas e manter qualidade e código-limpo.</p>
